{% extends 'base.html' %}
{% load static %}
{% block body_block %}

<main id="main"><br><br><br>
  <div class="" id="flag"  style="background-color: white;
      color: black;
  ">

  <section id="one" class="wrapper style1">

    <section id="specials" class="specials">
      <div class="container" data-aos="fade-up">

        <div class="section1-title1">
          <h2 style="color: #000"> What is Startup Denmark?</h2><br><br>
          <!-- <img style="width: 25%" src="/static/assets/img/studentvisa_icon-01.png" alt=""> -->
          <!-- <p style="color: black; font-size: 3em; font-family:Open Sans, sans-serif;">STUDENT & TRAINING VISA</p> -->
        </div>
        <br>
        <div class="section1-title1-details" style="text-align: justify;">
          <p>
            Startup Denmark is a visa scheme for non-EU/EEA
            entrepreneurs.
          </p>
          <p>
            You apply on the basis of a business plan which is evaluated by
            an independent expert panel. If the panel approves your business
            plan, you are eligible to apply for a residence and work permit as
            a self-employed entrepreneur. The permit is granted for a period
            of up to two years with the possibility of extension for three years
            at a time.
          </p>
        </div>
        <div class="section1-title1-details" style="text-align: justify;">
          <h4>Who is eligible to apply?</h4>
          <p>Startup Denmark is for self-employed persons, and only non-EU
            (European Union) and non-EEA (European Economic Area)
            citizens can apply.
          </p>
         <p>
          Up to three non-EU/EEA citizens can submit a business plan as a
          team. If the business plan is approved by the Startup Denmark
          expert panel the applicants must apply individually for a residence
          and work permit from the immigration authorities. 
         </p>
         <p>
          A non-EU/EEA citizen can submit a business plan together with
          EU/EEA citizens if they are part of the team behind the start-up.
          However, EU/EEA citizens do not need residence and work
          permits for Denmark due to the EU rules on free movement of
          persons and services.
         </p>
          <h4>What types of businesses are eligible?</h4>
         <p>
          Startup Denmark is for innovative and scalable businesses with a
          clear growth potential. This means that businesses such as 
          restaurants, retail shops and small import/export enterprises will
          generally be rejected before evaluation and thus not presented to
          the Startup Denmark expert panel.
         </p>

            <h4>Does Startup Denmark provide financing?</h4>
          <p>
            No. Startup Denmark only provides residence and work permits
for accepted applicants. Entrepreneurs are themselves
responsible for raising all required capital and must be able to
sustain themselves financially. However, start-ups in Denmark are
eligible to apply for a range of both public and private funding
schemes. We leave it to you to make use of the many
opportunities.
          </p>

              <h4>Who is behind the program?</h4>
             
              <p>
                Startup Denmark is an official Danish program developed by the
Ministry of Industry, Business and Financial Affairs and the
Ministry of Immigration and Integration.
              </p>


<br /><br />

                  <!-- <div class="section1-title1">
                    <h2 style="color: #000">Student Visa</h2><br><br>
                    <!-- <img style="width: 25%" src="/static/assets/img/studentvisa_icon-01.png" alt=""> -->
                    <!-- <p style="color: black; font-size: 3em; font-family:Open Sans, sans-serif;">STUDENT & TRAINING VISA</p> -->
                  <!-- </div> -->

                  <div style="padding-top: 0px;">
                   <img src="/static/assets/img/startup-05.png" class="img-fluid responsive" style="margin-left: 25%; width:53%;" alt="">

                 </div>




        </div>
        <br>
          <br>
          <div class="row" data-aos="fade-up" data-aos-delay="100">
            <div class="col-lg-4">
              <ul class="nav nav-tabs flex-column">
                <li class="nav-item">
                  <a class="nav-link active show" data-toggle="tab" href="#tab-1"> Who Can Apply? </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#tab-2">What Types of Businesses are
                    Eligible?
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#tab-3">Do I need a Prior Investment to
                    Apply? 
   </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#tab-4">How to get your business plan approved?
   </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#tab-5">What Happens to My Application Once I’ve Applied?
   </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#tab-6">How Long Does the Application Process Take?
   </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#tab-7">What is the Expert Panel?
   </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#tab-8">Will I be notified if my Application is Rejected?
   </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#tab-9">What Happens If my Application is Rejected?
   </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#tab-10">Can I appeal about the result?
   </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#tab-11">Can I Submit my Application in my Own Language?
   </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#tab-12">When Do I Apply for a Residence and Work Permit?
   </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#tab-13">What are the Requirements when Applying for A Residence and Work Permit?
   </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#tab-14">Launching your business in Denmark
   </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#tab-15">Extending your approval
   </a>
                </li>
                
              </ul>
            </div>
            <div class="col-lg-8 mt-4 mt-lg-0" style="text-align: justify;">
              <div class="tab-content">
                <div class="tab-pane active show" id="tab-1">
                  <div class="row">
                    <div class="col-lg-10 details order-2 order-lg-1">
                      <h3 style="text-align: center;">Who Can Apply?</h3>
                      <p>
                        Startup Denmark is for self-employed persons, and only non-EU
            (European Union) and non-EEA (European Economic Area)
            citizens can apply.
                      </p>
                      <p>
                        Up to three non-EU, non-EEA citizens can submit a business plan
            as a team. If the business plan is approved by the Startup
            Denmark expert panel the applicants must apply individually for a
            residence and work permit from the immigration authorities.
                      </p>
                      <p>
                        A non-EU, non-EEA citizen can submit a business plan together
            with EU/EEA citizens. However, EU/EEA citizens do not need 
            residence and work permits for Denmark due to the EU rules on
            free movement of persons and services.
                      </p>
                    </div>
                    <!-- <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/sunsweet.jpeg" alt="" class="img-fluid">
                  </div> -->
                  </div>
                </div>
                <div class="tab-pane" id="tab-2">
                  <div class="row">
                    <div class="col-lg-10 details1 order-2 order-lg-1">
                      <h3 style="text-align: center;">What Types of Businesses are
                        Eligible?</h3>
                        
                       <p> Startup Denmark is for innovative and scalable businesses with a
clear growth potential. This means that businesses such as
restaurants, retail shops and import/export enterprises will
generally be rejected and thus not presented to the Startup
Denmark expert panel.</p>
                    </div>
                  </div>
                </div>

                <div class="tab-pane" id="tab-3">
                  <div class="row">
                    <div class="col-lg-10 details order-2 order-lg-1">
                      <h3 style="text-align: center;">Do I need a Prior Investment to
                        Apply? </h3>
                        <p>
                          No prior investment in your startup is required in order to apply.
                        </p>
                        <p>
                          However, if your business plan is approved by the Startup
              Denmark expert panel, and if you submit your application for a
              residence and work permit, you must provide documentary
              evidence that you can support yourself financially for at least one
              year in Denmark.
                        </p>
                        <p>
                          If your family is accompanying you to Denmark, you must also
              provide documentation of your ability to support them.
                        </p>
                     
                    </div>
                  </div>
                </div>  

                
                <div class="tab-pane" id="tab-4">
                  <div class="row">
                    <div class="col-lg-10 details order-2 order-lg-1">
                      <h3 style="text-align: center;">How to get your business plan approved? </h3>
                        <h4>
                          How is my business plan evaluated?
                        </h4>
                        <p>
                          The business plans are assessed by a minimum of three
                          members of Startup Denmark’s independent expert panel.
                          Assessments are based on scores from 1 to 5 given in relation to
                          five evaluation criteria. In order to obtain approval, you need both
                          a minimum average score of 3.0 for all five criteria and a score of
                          at least 4.0 in the final recommendation criteria.
                        </p>
                        <p>
                          The criteria are defined as follows:
                        </p>
                       <ol>
                         <li><b>How innovative is the business model?</b></li>
                         <p>
                          The expert panel is looking for fundamentally smart business
                          models that seize an opportunity and accelerate the development
                          of a new market or industry. Applications are evaluated in terms of
                          their level of innovation and introduction of new products, services
                          or processes within their field.
                         </p>
                         <li><b>How attractive is the market?</b></li>
                         <p>
                          When evaluating the attractiveness of a market, the expert panel
              focuses on market size, commercial potential and barriers to
              entry. Additionally, the panel evaluates the level of competition in
              the market and how applicants plan to enter and address the
              market.
                         </p>
                         <li><b>How capable is the applicant or team?</b></li>
                         <p>
                          Not only must applicants come up with a great business model,
              but they must also be capable of building a successful business in
              practice. The expert panel therefore assesses whether applicants
              have the skills, competences and experiences needed to turn
              their business plan into a viable venture.
                         </p>
                         <li><b>How scalable is the business model?</b></li>
                         <p>
                          The expert panel evaluates the startup for its potential to grow
              and create jobs in Denmark. It should therefore be demonstrated
              that the business model is scalable – i.e. that it has the potential
              to grow significantly.
                         </p>
              
                         <li><b>How capable is the applicant or team?</b></li>
                         <p>
                          Not only must applicants come up with a great business model,
              but they must also be capable of building a successful business in
              practice. The expert panel therefore assesses whether applicants
              have the skills, competences and experiences needed to turn
              their business plan into a viable venture.
                         </p>
                         <li><b>Overall assessment</b></li>
                         <p>
                          Startup Denmark aims to attract growth-oriented, innovative and
                          scalable startups that bring ideas, networks and knowledge to
                          Denmark. Consequently, the expert panel estimates the degree to
                          which startups contribute to this goal. The recommendation score
                          sums up the panel’s assessment of the first four criteria taken as
                          a whole. It is thus an expression of the panel’s overall perception
                          of the quality of the business plan and the applicant(s) behind it.            
                         </p>
              
                       </ol>
                     
                    </div>
                  </div>
                </div>
                
                <div class="tab-pane" id="tab-5">
                  <div class="row">
                    <div class="col-lg-10 details order-2 order-lg-1">
                      <h3 style="text-align: center;">What Happens to My Application Once I’ve Applied? </h3>
                        <p>
                          Initially, all applications will be screened by the Startup Denmark
              Secretariat at the Danish Business Authority to make sure they
              meet the requirements for being evaluated by the expert panel.
                        </p>
                        <p>
                          Typical reasons for an application to be screened out include: The
              applicant is an EU citizen, the application is not submitted in
              English, the business model does not have potential for growth
              (as a general rule, businesses such as restaurants, retail stores,
              smaller trade, import and export businesses are screened out), or
              the information provided is not sufficiently clear and/or credible.
              Lastly, applications will also be screened out if the attached pitch
              deck is too comprehensive. For attached word files the maximum
              length is 10 pages, while the maximum length of PowerPoint and
              image files is 15 pages.
                        </p>
                        <p>
                          Applicants will be notified if their application is screened out. It is
              not possible to appeal if your application is screened out.
                        </p>
                        <p>
                          If the application is not screened out it will be forwarded to the
              expert panel for evaluation.
                        </p>
                     
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="tab-6">
                  <div class="row">
                    <div class="col-lg-10 details order-2 order-lg-1">
                      <h3 style="text-align: center;">How Long Does the Application Process Take? </h3>
                      <p>
                        Our goal is for your business plan to be evaluated by the Startup
                        Denmark expert panel within six weeks of submission. However,
                        longer processing times may occur especially during and after
                        summer holidays and Christmas holiday, where the expert panel
                        does not evaluate business plans.
                      </p>
                      <p>
                        You will be told the outcome of the panel’s evaluation by the
                    Startup Denmark Secretariat.
                      </p>
                      <p>
                        If your evaluation is positive, you can apply for a residence and
                        work permit under the Startup Denmark scheme at the Danish 
                        Agency for International Recruitment and Integration. The agency
                        usually considers applications within one month of submission.
                      </p>
                     
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="tab-7">
                  <div class="row">
                    <div class="col-lg-10 details order-2 order-lg-1">
                      <h3 style="text-align: center;">What is the Expert Panel? </h3>
                        <p>
                          The Startup Denmark expert panel evaluates your business plan. It is staffed by experienced and independent business consultants.
                        </p>
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="tab-8">
                  <div class="row">
                    <div class="col-lg-10 details order-2 order-lg-1">
                      <h3 style="text-align: center;">Will I be notified if my Application is Rejected? </h3>
                        <p>
                          Yes. All applicants are notified about the outcome of the evaluation of their business plan. In most cases, you’re notified within six weeks of submission.
                        </p>
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="tab-9">
                  <div class="row">
                    <div class="col-lg-10 details order-2 order-lg-1">
                      <h3 style="text-align: center;">What Happens If my Application is Rejected? </h3>
                        <p>
                          If your application is rejected by the Startup Denmark expert panel, you can apply again with a new or improved business plan. The business plan must be substantially improved or different from the original in order to be evaluated again.
                        </p>
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="tab-10">
                  <div class="row">
                    <div class="col-lg-10 details order-2 order-lg-1">
                      <h3 style="text-align: center;">Can I appeal about the result? </h3>
                        <p>
                          Yes. It is possible to appeal against the evaluation by the expert panel to the Danish Business Authority. Appeals are assessed by a minimum of three members of the expert panel with no previous insight into your original application. Instructions for filing an appeal can be found in rejection emails from the Startup Denmark Secretariat.
                        </p>
                        <p>
                          Note that this is not an option if your business plan is screened out before evaluation.
                        </p>
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="tab-11">
                  <div class="row">
                    <div class="col-lg-10 details order-2 order-lg-1">
                      <h3 style="text-align: center;">Can I Submit my Application in my Own Language?</h3>
                        <p>
                          Only applications submitted in English will be accepted for evaluation. Applications in any other language will be screened out before evaluation by the expert panel.
                        </p>
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="tab-12">
                  <div class="row">
                    <div class="col-lg-10 details order-2 order-lg-1">
                      <h3 style="text-align: center;">When Do I Apply for a Residence and Work Permit? </h3>
                        <p>
                          First you need to get your business plan approved. If the evaluation of your business plan by the Startup Denmark expert panel is positive, you can apply for a residence and work permit under the Startup Denmark scheme at the Danish Agency for International Recruitment and Integration. The agency usually considers applications within one month of submission.
                        </p>
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="tab-13">
                  <div class="row">
                    <div class="col-lg-10 details order-2 order-lg-1">
                      <h3 style="text-align: center;">What are the Requirements when Applying for A Residence and Work Permit?</h3>
                      <p>
                        You must meet certain conditions to be granted a residence and
                    work permit.
                      </p>
                      <h4>
                        Active ownership
                      </h4>
                      <p>
                        It is a condition that you play an active part in running the
                    business, and your presence must be necessary for the
                    establishment of the business. If you have only economic or
                    financial interests in the business – for example, if you are a
                    shareholder – you cannot be granted a permit based on the
                    Startup Denmark scheme.
                      </p>
                      <h4>
                        The self-support requirement
                      </h4>
                      <p>
                        You must be able to support yourself. This means you must
                    provide documentary evidence that you have sufficient funds to 
                    cover your first year in Denmark. If your family is accompanying
                    you to Denmark, you must also provide documentation of your
                    ability to support them.
                      </p>
                      <p>
                        You must provide documentation that you have (2020 level):
                      </p>
                      <ul>
                        <li>138,648 DKK if you are in Denmark without any family</li>
                        <li>277,296 DKK if your spouse is accompanying you to
                          Denmark</li>
                          <li>322,908 DKK if your spouse and one or more children are
                            accompanying you to Denmark</li>
                            <li>
                              184,260 DKK if one or more children, but not your spouse,
                    are accompanying you to Denmark
                            </li>
                      </ul>
                      <p>
                        Documentation of your ability to support yourself and any
                    accompanying family members could for instance be in the form
                    of a bank statement.
                      </p>
                      <h3>
                        Can I Bring my Family?
                      </h3>
                      <p>Yes</p>
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="tab-14">
                  <div class="row">
                    <div class="col-lg-10 details order-2 order-lg-1">
                      <h3 style="text-align: center;">Launching your business in Denmark </h3>
                      <p>
                        Several public initiatives exist to help you grow your startup in
                    Denmark. To begin with, you are advised to contact the local
                    Business Development Centre.
                      </p>
                      <p>
                        Denmark’s Business Development Centres are your gateway to
                    both public and private business development initiatives. There
                    are 6 publicly funded Business Development Centres at 12
                    different locations around Denmark. At your local centre, you can
                    get free, independent and professional guidance – targeted to fit
                    the needs and potential of your business. The centres specialise
                    in business operations and development. Among many other
                    things, they can offer guidance on loans, venture capital and other
                    funding sources.
                      </p>
                      <h4>
                        How do I set up my business in Denmark?
                      </h4>
                      <p>
                        In most cases, setting up a business in Denmark is easy.
                    However, if you have trouble finding your way through the system,
                    you are always welcome to contact the Danish Business
                    Authority’s Customer Centre on +45 72 20 00 30.
                      </p>
                      <p>
                        Before you register your business, you should apply for a NemID
                    secure login. You should then determine what business type you
                    want to establish and apply for a CVR number via the digital
                    solution, “Start company” at Virk.dk. The CVR number is your
                    business’s official registration number, and it is, among other
                    things, used to identify your business with public authorities and
                    when issuing invoices.
                      </p>
                      <p>
                        Note that you should be fully approved by Startup Denmark
                    before you launch and start working with your business in
                    Denmark. You are fully approved when you have been granted a
                    Danish residence and work permit by the Danish Agency for
                    International Recruitment and Integration. The residence and
                    work permit contains a Danish CPR number (personal registration 
                    number), which you need in order to register a business in
                    Denmark.
                      </p>
                      <h4>
                        What are the opportunities for funding in Denmark?
                      </h4>
                      <p>
                        There are many opportunities in Denmark to apply for both public
                    and private funding. You are advised to contact a Business
                    Development Centre to learn more about the funding that is best
                    suited to your startup. Below are two examples of public funding
                    opportunities.
                      </p>
                      <h4>
                        The Danish Growth Fund
                      </h4>
                      <p>
                        The Danish Growth Fund (“Vækstfonden”) is the Danish state’s
                    investment fund aimed at promoting the creation and growth of
                    new companies through investments, loans and guarantees. The
                    fund invests equity in start-ups that have significant growth
                    potential yet have trouble raising sufficient venture capital. You
                    may be eligible to apply for one of the fund’s programmes.
                      </p>
                      <h4>
                        Innovation Fund Denmark
                      </h4>
                      <p>
                        The Innovation Fund Denmark (“Innovationsfonden”) invests in
                    new initiatives to create growth and employment in Denmark. You
                    may be eligible to apply for one of the fund’s programmes.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="tab-15">
                  <div class="row">
                    <div class="col-lg-10 details order-2 order-lg-1">
                      <h3 style="text-align: center;">Extending your approval </h3>
                      <h4>
                        When Do I need to Extend my Approval?
                      </h4>
                      <p>
                        You can apply for an extension to your residence and work permit
                        if the validity period of your current permit is about to expire. You
                        can apply for an extension no earlier than three months before
                        your permit expires. An extension can be granted for up to three
                        years at a time.
                      </p>
                      <p>
                        Please note that it is your own responsibility to apply for an
                    extension in due course. You must submit your application for an
                    extension to the Danish Agency for International Recruitment
                    before the expiry date of your current residence and work permit,
                    even if the expert panel has not yet finalized its evaluation of your
                    progress report.
                      </p>
                      <h4>
                        How to Apply for Extension
                      </h4>
                      <p>
                        To apply for an extension, you must submit a progress report
                        describing the development of your startup. The progress of the
                        company must be approved before you can be granted an
                        extension. There are four steps:
                        
                      </p>
                      <ul>
                        <li><i class="icofont-check-circled"></i><b>Download a form for your progress report.</b></li>
                        <li><i class="icofont-check-circled"></i><b>Write your progress report.</b></li>
                        <p>Fill out the form to provide an overview of the progress of
                          your startup.</p>
                        <li><i class="icofont-check-circled"></i><b>Submit your progress report.</b></li>
                        <p>
                          The report is evaluated by a representative of the expert 
                    panel according to the principles described below.
                    Our goal is to notify you about the outcome within four
                    weeks of submission.
                        </p>
                        <li><i class="icofont-check-circled"></i><b>Apply for extension.</b></li>
                        <p>
                          If the progress of the company is approved by the expert
                    panel, you are entitled to apply for an extension of your
                    residence and work permit at the Danish Agency for
                    International Recruitment and Integration.
                        </p>
                      </ul>
                    
                      <h4>
                        How Long does the extension Application Process
                    Take?
                      </h4>
                      <p>
                        Our goal is for your progress report to be evaluated by a
                    representative of the Startup Denmark expert panel within four
                    weeks of submission. You will be told the outcome of the
                    evaluation by the Startup Denmark Secretariat.
                      </p>
                      <p>
                        If your evaluation is positive, you can apply directly for an
                    extension of your work and residence and work permit under the
                    Startup Denmark scheme at the Danish Agency for International
                    Recruitment and Integration. The agency usually considers
                    applications for extension within three months of submission.
                      </p>
                      <p>
                        Please note that you must submit your application for an
                    extension to the Danish Agency for International Recruitment
                    before the expiry date of your current residence and work permit,
                    even if the expert panel has not yet finalised its evaluation of your
                    progress report.
                      </p>
                      <h4>
                        What is the Extension Interview?
                      </h4>
                      <p>
                        If the expert panel representative finds that your progress report is
                    unclear, you will be summoned for an interview with the
                    representative.
                      </p>
                      <p>
                        Interviews are generally scheduled for 45 minutes. During the first
                    15 minutes, you are asked to present your case and the status of
                    your startup. In the remaining 30 minutes, you are interviewed
                    about the progress of your company.
                      </p>
                      <p>
                        The interview will be conducted by the expert panel
                    representative who is responsible for the assessment of your
                    progress report. A government official representing the Startup
                    Denmark Secretariat will attend as an observer. The interview will
                    be recorded and logged.
                      </p>
                      <p>
                        After the interview, you will be notified in writing about the
                    outcome of the interview (approval or rejection).
                      </p>
                      <p>
                        You will receive further information about the process and
                    practicalities if you are called for an interview.
                      </p>
                      <h4>
                        What happens if the Progress of my Business is
                    Approved?
                      </h4>
                      <p>
                        If your progress report is approved by a Startup Denmark expert
                    panel, you receive an approval letter from the Startup Denmark
                    Secretariat.
                    
                      </p>
                      <p>
                        The letter entitles you to apply for an extension of your residence
                    and work permit as a self-employed entrepreneur under the
                    Startup Denmark scheme at the Danish Agency for International
                    Recruitment and Integration.
                      </p>
                      <p>
                        This means that the approval of the progress does not in itself
                    constitute an extension. The approval is a precondition for
                    applying for an extension of your residence and work permit at the
                    Danish Agency for International Recruitment and Integration.
                      </p>
                      <h4>
                        What happens if the Progress of my Business is
                    Rejected?
                      </h4>
                      <p>
                        It is possible to appeal against the rejection of your progress
                    report to the Danish Business Authority. A representative of the
                    Startup Denmark expert panel, who was not involved in the
                    original evaluation of your progress report, will be selected to
                    reassess your case.
                      </p>
                      <p>
                        You will receive instructions on how to file an appeal if your
                    progress report is rejected.
                      </p>
                    </div>
                  </div>
                </div>

                
              </div>
  
            </div>
        

              <!-- <div class="tab-pane" id="tab-4">
                <div class="row">
                  <div class="col-lg-10 details order-2 order-lg-1">
                    <h3>Visa Interview</h3>
                    <p>Visa interview is the moment where you meet with the consular officer directly as a visa applicant. The same time you need to present all the visa required documents, as your consular officer asks for them orderly. During a
                      visa appointment, the officer also makes you questions about the application, as well as personal ones which you have to answer carefully and truthfully.</p>
                  </div>
                </div>
              </div>

              <div class="tab-pane" id="tab-5">
                <div class="row">
                  <div class="col-lg-10 details order-2 order-lg-1">
                    <h3>Registration at the Resident’s Registration Office</h3>
                    <p>Foreigners who seek to remain in Germany for more than 2 MONTHS they must get the Confirmation on Registration “Meldebestätigung”. To get such a confirmation a foreigner must apply at the local Resident’s Registration Office or
                      “Einwohnermeldeamt”.</p>
                    <p>Foreigners who seek to remain in Germany for more than 90 DAYS or 3 MONTHS you need to possess the proper residence title. In our case a Residence Permit “Aufenthaltsgenehmigung” is the appropriate title, intended for study
                      purposes. A residence permit will be issued only upon the application of the visa holder at the Alien Registration Office “Ausländerbehörde“ in the city where your university is located.</p>
                  </div>
                </div>
              </div>

              <div class="tab-pane" id="tab-6">
                <div class="row">
                  <div class="col-lg-10 details order-2 order-lg-1">
                    <h3>Important Things To Know as a German Visa applicant and/or Holder</h3>
                    <ul style="list-style-type:disc">
                      <li>Additional documents can be required by the visa officer upon the visa interview</li>
                      <li>Appear in person in the visa interview</li>
                      <li>Be cautious about your passport validity- it needs to be valid for your entire period of stay, including the expected extended period</li>
                      <li>Bear in mind that the incomplete visa application can be refused</li>
                      <li>Do not stick your photographs in the visa application form</li>
                      <li>Don’t take anyone with you to the Embassy or Consulate during a visa interview</li>
                      <li>Every applicant is authorised to take legal actions against the embassy or consulate decision on her/his visa application</li>
                      <li>Getting your Visa For Study Purposes is important, instead of a Tourist Visa -because it gives you the opportunity to get a residence permit once in Germany REMEMBER that a Tourist Visa cannot be extended further while in
                        Germany, in case you need to stay longer!</li>
                      <li>If the applicant is considered to represent a risk for the security and public order of the Schengen Area the visa will be rejected
                        In case of visa rejection the applicant gets informed about the main reason of rejection</li>
                      <li>Make sure for your trip to Germany to be scheduled early enough so you will have the needed time in disposition to enrol in university</li>
                      <li>Original documents can be required upon the arrival at the airport</li>
                      <li>Germany study visa is not automatically given – so you have to wait for up to 4 MONTHS to get a response from the Embassy or Consulate and there is no guarantee you will be granted with a visa</li>
                      <li>The application form can be downloaded freely on the website of the Embassy or Consulate in your country</li>
                      <li>The passport remains at the Embassy / Consulate during the entire process of visa proceeding</li>
                      <li>Visa appointments should be made only through the online system (not by phone, e-mail, fax or in-person)</li>
                      <li>Visa Fee will not be reimbursed in case of visa refusal</li>

                    </ul>
                  </div>
                </div>
              </div>

              <div class="tab-pane" id="tab-7">
                <div class="row">
                  <div class="col-lg-10 details order-2 order-lg-1">
                    <h3>Germany Student Visa Fee</h3>
                    <p><b>The fee for Germany student visa application is 75,- EUR.</b></p>
                    <p>Student applicants have to pay the visa fees by a bank transfer. Cheques or credit cards are not accepted. The money order must be in the name of the Embassy/Consulate in your home country and not older than two months.
                    </p>
                    <p>Please be aware that you will not get reimbursed the visa fee if your application for a student visa gets rejected.</p>
                  </div>
                </div>
              </div>

              <div class="tab-pane" id="tab-8">
                <div class="row">
                  <div class="col-lg-10 details order-2 order-lg-1">
                    <h3>How long does it take for a German student visa to process?</h3>
                    <p>The processing time for a Germany long-stay study visa may take from 6-12 weeks from the application day. While Germany short-stay study visas are usually decided within 15-30 days by the German missions abroad</p>
                  </div>
                </div>
              </div>
 -->


            </div>

          </div>
          </div>
    </section>

  </section>

</div> <br><br><br>

</main>



{% endblock %}
