{% extends 'base.html' %}
{% load static %}
{% block body_block %}

<main id="main"><br><br><br>
  <div class="" id="flag"  style="background-color: white;
      color: black;
  ">

  <section id="one" class="wrapper style1">

    <section id="specials" class="specials">
      <div class="container" data-aos="fade-up">

        <!-- <div class="section1-title1">
          <h2 style="color: #000"> Work Visa</h2><br><br> -->
          <!-- <img style="width: 25%" src="/static/assets/img/studentvisa_icon-01.png" alt=""> -->
          <!-- <p style="color: black; font-size: 3em; font-family:Open Sans, sans-serif;">STUDENT & TRAINING VISA</p> -->
        <!-- </div> -->



        <div style="padding-top: 0px;">
         <img src="/static/assets/img/1-04 - Copy.png" class="img-fluid responsive" style="margin-left: 25%; width:53%;" alt="">

       </div>

        <!-- <div class="section1-title1-details">
          <h4>Required documents for a Denmark Visa Application:</h4>
          <p>The following list of documents are required in order to obtain a Denmark visa:

          </p>






          <ul>
            <li>Download the application form, fill it completely and with sincerity. You can also fill the Denmark Schengen Visa application form electronically and then print a hard-copy.</li>
            <li>2 photos must be attached; the photo should be of passport format – a recent whole-face capture with a light background. Learn more about photo requirements and specifications for a Danish Visa.</li>
            <li>Your passport and copies of your previous visas – valid for at least 3 months beyond return date – are required. Your passport must have at least two blank pages.</li>
            <li>
              Travel health insurance confirmation of minimum 30,000 € coverage within
              Denmark and the entire Schengen area
            </li>
            <li>A cover letter stating the purpose of visit to Denmark and itinerary (Click to find cover letter samples!)
            </li>
            <li>Flight Itinerary with dates and flight numbers specifying entry and exit from
Denmark</li>

            <li>
              Hotel Reservation for the whole duration of the intended stay in Denmark.
              Find and Book Cheap Hotels in Denmark!
              </li>

              <li>
                 Proof of civil status (marriage certificate, birth certificate of children, death
                certificate of spouse, ration card if applicable)
                </li>

            <li>
              Means of subsistence – Proof of sufficient financial means for the period of
              stay in Denmark
              </li>


          </ul>

          <h4>If Employed:</h4>
          <ul>
            <li>
                Employment contract
              </li>
              <li>
                Current bank statement of the latest 6 months
                </li>
                <li>
                  Leave permission from employer
                  </li>
                <li>
                  Income Tax Return (ITR) form or Certificate of Income Tax deducted at the
                  source of salary
                  </li>
            </ul>

            <h4>If Self-Employed:</h4>
            <ul>
              <li>
                A copy of your business license

                </li>
                <li>
                Company bank statement of the latest 6 months
                  </li>
                  <li>
                    Leave permission from employer
                    </li>
                  <li>
                    Income Tax Return (ITR)
              </ul>

              <h4>If a Student:</h4>
              <ul>
                <li>
                Proof of enrollment

                  </li>

                  <li>
                     No-objection certificate from school or university
                    </li>

                </ul>


                <h4>If Retired:</h4>
                <ul>
                  <li>
                    Pension statement of the latest 6 months If applicable:

                    </li>

                    <li>
                       Regular income generated by property proof of the latest 6 months
                      </li>

                  </ul>


                <h4>*Note:</h4> <p>The signed application form must be accompanied the rest of the abovementioned mandatory documents and handed personally at the appropriate
embassy/ consulate or its representative in your home country.
                </p>

                <p>
                  Apart from the general documentation required, accompanying should be other
additional documents depending on the purpose of your Danish Visa application
                  </p>

<br /><br />

                  <div class="section1-title1">
                    <h2 style="color: #000">Student Visa</h2><br><br>
                    <!-- <img style="width: 25%" src="/static/assets/img/studentvisa_icon-01.png" alt=""> -->
                    <!-- <p style="color: black; font-size: 3em; font-family:Open Sans, sans-serif;">STUDENT & TRAINING VISA</p> -->
                  <!-- </div> -->




        </div>
        <br>
        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-3">
            <ul class="nav nav-tabs flex-column">
              <li class="nav-item">
                <a class="nav-link active show" data-toggle="tab" href="#tab-1">Denmark Visa for Business Purposes: </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-2">Denmark Visa for Members of Official Delegations
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-3">Denmark Investor Visa
 </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-4">Denmark Startup Visa
 </a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-4">Visa Interview</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-5">Registration at the Resident’s Registration Office</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-6">Important Things To Know as a German Visa applicant and/or Holder</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-7">Germany Student Visa Fee</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-8">How long does it take for a German student visa to process?</a>
              </li> -->
            </ul>
          </div>
          <div class="col-lg-9 mt-4 mt-lg-0">
            <div class="tab-content">
              <div class="tab-pane active show" id="tab-1">
                <div class="row">
                  <div class="col-lg-10 details order-2 order-lg-1">
                    <h3>  Denmark Visa for Business Purposes:</h3>
                    <p>Apart from the general documentation required, the additional documents required for the Business Visa are:</p>





                    <ul>


                      <li class="font-italic">  <i class="icofont-check-circled"></i>Invitation letter from the Danish company you will be visiting and their detailed
                      address accompanied with the dates of your visit</li>
                      <li class="font-italic">  <i class="icofont-check-circled"></i>A certificate from your employer stating/allowing your business travel
.</li>
                      <li class="font-italic">  <i class="icofont-check-circled"></i>If there were previous trade relations between the two companies, proof of such
                      events must be provided</li>
                      <li class="font-italic">  <i class="icofont-check-circled"></i>Business bank statement of the latest 6 months.</li>
                      <li class="font-italic">  <i class="icofont-check-circled"></i>Memorandum and Article of Association in original certified copy (registered with
                      joint stock companies) Trade License (first issued and present renewal),
                      Proprietorship/Partnership documents</li>
                      <li class="font-italic">  <i class="icofont-check-circled"></i>Regarding the applicant’s expenses during stay in the Schengen zone, either the
                      employer or the partner company must state coverage of expenses on the letter
                      or invitation.</li>




                    </ul>
                  </div>
                  <!-- <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="assets/img/sunsweet.jpeg" alt="" class="img-fluid">
                </div> -->
                </div>
              </div>
              <div class="tab-pane" id="tab-2">
                <div class="row">
                  <div class="col-lg-10 details1 order-2 order-lg-1">
                    <h3>Denmark Visa for Members of Official Delegations</h3>
<p>Apart from the general documentation required, the additional documents required for the Business Visa are:</p>
                    <ul>
                      <li>
                        <i class="icofont-check-circled"></i>
                        The official invitation

                        </li>
                        <li>
                            <i class="icofont-check-circled"></i>
                          Copy Identity of applicant
                          </li>
                          <li>
                              <i class="icofont-check-circled"></i>
                            Purpose of journey (negotiations, meetings, event by
                            intergovernmental
                            organizations, consultations).
                            </li>
                            <li>
                              <i class="icofont-check-circled"></i>
                               Duration of stay.
                              </li>
                              <li>
                                  <i class="icofont-check-circled"></i>
                                 Place of accommodation.
                                </li>
                      </ul>

                  </div>
                </div>
              </div>



              <div class="tab-pane" id="tab-3">
                <div class="row">
                  <div class="col-lg-10 details order-2 order-lg-1">
                    <h3>Denmark Investor Visa</h3>
<p>
  Denmark is a scandinavian European member state. Denmark has
transparency, extremely low level of corruption makes Denmark an
attractive location for business activities. Denmark has the easy to setup
business friendly infrastructure, highly educated labor market and has
access to $1 trillion EU market. Denmark has high quality of living
standards in the Nordic.

  </p>
                    <ul>
                      <li>
                        <!-- <i class="bi bi-arrow-right-circle"></i> -->
                        <i class="icofont-check-circled"></i>
                        Investment name
                        -Business Investment
                        </li>
                        <li>

                          <i class="icofont-check-circled"></i>
                          Qualifying Investments-Invest in a new or existing danish economic activity in these sectors:
                          <ul>

                            <li>
                            <i class="bi bi-caret-right-fill"></i>
                              Cleantech
                              </li>
                              <li>
                                <i class="bi bi-caret-right-fill"></i>
                                Maritime and Ship building
                                </li>
                                <li>
                                  <i class="bi bi-caret-right-fill"></i>
                                  Food
                                  </li>
                                  <li>
                                    <i class="bi bi-caret-right-fill"></i>
                                    Real estate and construction
                                    </li>
                                    <li>
                                      <i class="bi bi-caret-right-fill"></i>
                                      Research and Technology
                                      </li>
                                      <li>
                                        <i class="bi bi-caret-right-fill"></i>
                                         Life sciences
                                        </li>
                                        <li>
                                          <i class="bi bi-caret-right-fill"></i>
                                          Automotive & Machinery
                                          </li>
                                          <li>
                                            <i class="bi bi-caret-right-fill"></i>
                                            Wind Energy
                                            </li>
                            </ul>


                          <li>
                            <i class="icofont-check-circled"></i>
                            Visa type - C / D / Business visa
                            </li>
                            <li>
                              <i class="icofont-check-circled"></i>
                              Processing time - 1 month
                              </li>
                              <li>
                                <i class="icofont-check-circled"></i>
                                Residency requirements - None

                                </li>
                                <li>
                                <i class="icofont-check-circled"></i>
                                  Permanent residency - After 5 years of living
                                  </li>
                                  <li>
                                    <i class="icofont-check-circled"></i>
                                    Danish Citizenship - After 9 years of uninterrupted living
                                    </li>
                                    <li>
                                      <i class="icofont-check-circled"></i>
                                      Dual nationality - Permitted

                                      </li>

                      </ul>
                  </div>
                </div>
              </div>

              <div class="tab-pane" id="tab-4">
                <div class="row">
                  <div class="col-lg-10 details1 order-2 order-lg-1">
                    <h3>Denmark Startup visa</h3>
                      <p>
  Denmark doesn’t have a residence by investment program. The country is rather
selective in its admission of business migrants. Only one path exists, and it’s called
the
Startup visa. It provides applicants with 2-year residence permits. Permanent
residence
can be obtained in 6 years or 4 years if some additional requirements are met.
Naturalization is possible after 9 years of residence in Denmark.
Your business idea must be approved by a panel of experts appointed by the Danish
Business Authority before SIRI can process your application for a residence and
work
permit based on the scheme.
The scheme can be used by both individuals and teams of up to 3 people who want
to
start a business together in Denmark through a joined business plan.

  </p>
                    <ul>
                      <li>
                        You must submit:
Documentation of the paid fee. Attach the receipt for your payment.
Copy of all pages of your passport, including all empty pages and the passport’s
front
and back cover.
Approval by the Danish Business Authority’s panel of experts.
Documentation that you can support yourself during your stay in Denmark.
Documentation of company ownership, if relevant.
For more information, go to the official government page

                        </li>

                      </ul>

                  </div>
                </div>
              </div>

              <!-- <div class="tab-pane" id="tab-4">
                <div class="row">
                  <div class="col-lg-10 details order-2 order-lg-1">
                    <h3>Visa Interview</h3>
                    <p>Visa interview is the moment where you meet with the consular officer directly as a visa applicant. The same time you need to present all the visa required documents, as your consular officer asks for them orderly. During a
                      visa appointment, the officer also makes you questions about the application, as well as personal ones which you have to answer carefully and truthfully.</p>
                  </div>
                </div>
              </div>

              <!-- <div class="tab-pane" id="tab-5">
                <div class="row">
                  <div class="col-lg-10 details order-2 order-lg-1">
                    <h3>Registration at the Resident’s Registration Office</h3>
                    <p>Foreigners who seek to remain in Germany for more than 2 MONTHS they must get the Confirmation on Registration “Meldebestätigung”. To get such a confirmation a foreigner must apply at the local Resident’s Registration Office or
                      “Einwohnermeldeamt”.</p>
                    <p>Foreigners who seek to remain in Germany for more than 90 DAYS or 3 MONTHS you need to possess the proper residence title. In our case a Residence Permit “Aufenthaltsgenehmigung” is the appropriate title, intended for study
                      purposes. A residence permit will be issued only upon the application of the visa holder at the Alien Registration Office “Ausländerbehörde“ in the city where your university is located.</p>
                  </div>
                </div>
              </div>

              <div class="tab-pane" id="tab-6">
                <div class="row">
                  <div class="col-lg-10 details order-2 order-lg-1">
                    <h3>Important Things To Know as a German Visa applicant and/or Holder</h3>
                    <ul style="list-style-type:disc">
                      <li>Additional documents can be required by the visa officer upon the visa interview</li>
                      <li>Appear in person in the visa interview</li>
                      <li>Be cautious about your passport validity- it needs to be valid for your entire period of stay, including the expected extended period</li>
                      <li>Bear in mind that the incomplete visa application can be refused</li>
                      <li>Do not stick your photographs in the visa application form</li>
                      <li>Don’t take anyone with you to the Embassy or Consulate during a visa interview</li>
                      <li>Every applicant is authorised to take legal actions against the embassy or consulate decision on her/his visa application</li>
                      <li>Getting your Visa For Study Purposes is important, instead of a Tourist Visa -because it gives you the opportunity to get a residence permit once in Germany REMEMBER that a Tourist Visa cannot be extended further while in
                        Germany, in case you need to stay longer!</li>
                      <li>If the applicant is considered to represent a risk for the security and public order of the Schengen Area the visa will be rejected
                        In case of visa rejection the applicant gets informed about the main reason of rejection</li>
                      <li>Make sure for your trip to Germany to be scheduled early enough so you will have the needed time in disposition to enrol in university</li>
                      <li>Original documents can be required upon the arrival at the airport</li>
                      <li>Germany study visa is not automatically given – so you have to wait for up to 4 MONTHS to get a response from the Embassy or Consulate and there is no guarantee you will be granted with a visa</li>
                      <li>The application form can be downloaded freely on the website of the Embassy or Consulate in your country</li>
                      <li>The passport remains at the Embassy / Consulate during the entire process of visa proceeding</li>
                      <li>Visa appointments should be made only through the online system (not by phone, e-mail, fax or in-person)</li>
                      <li>Visa Fee will not be reimbursed in case of visa refusal</li>

                    </ul>
                  </div>
                </div>
              </div>

              <div class="tab-pane" id="tab-7">
                <div class="row">
                  <div class="col-lg-10 details order-2 order-lg-1">
                    <h3>Germany Student Visa Fee</h3>
                    <p><b>The fee for Germany student visa application is 75,- EUR.</b></p>
                    <p>Student applicants have to pay the visa fees by a bank transfer. Cheques or credit cards are not accepted. The money order must be in the name of the Embassy/Consulate in your home country and not older than two months.
                    </p>
                    <p>Please be aware that you will not get reimbursed the visa fee if your application for a student visa gets rejected.</p>
                  </div>
                </div>
              </div>

              <div class="tab-pane" id="tab-8">
                <div class="row">
                  <div class="col-lg-10 details order-2 order-lg-1">
                    <h3>How long does it take for a German student visa to process?</h3>
                    <p>The processing time for a Germany long-stay study visa may take from 6-12 weeks from the application day. While Germany short-stay study visas are usually decided within 15-30 days by the German missions abroad</p>
                  </div>
                </div>
              </div>
 -->


            </div>

          </div>
    </section>

  </section>

</div> <br><br><br>

</main>



{% endblock %}
